<div class="relative z-10">
  <div class="container mx-auto px-4 py-2 md:px-6 md:py-4 max-w-7xl">
      <!-- Header -->
      <header class="bg-gradient-to-br from-[#f59656]/80 to-[#f59656]/80 dark:from-[#8833cc]/70 dark:to-[#8833cc]/70 text-white p-4 md:p-8 rounded-lg shadow-lg mb-4 md:mb-4 transition-colors duration-200 backdrop-blur-sm">
        <div class="text-center">
          <h1 class="text-4xl font-bold mb-3 font-outfit">My Projects</h1>
          <p class="text-indigo-100 font-inter">
            A collection of my finest work showcasing various technologies and skills
          </p>
        </div>
      </header>

      <!-- Projects Grid -->
      <div class="projects-grid">
        @for (project of projects; track project.id) {
          <app-project-card [project]="project"></app-project-card>
        }
    </div>
  </div>
</div>
